<button mat-raised-button color="primary" id="bagBtn" matTooltip="Click me to see what tiles remain">100</button>
<button mat-raised-button id="scoresBtn" matTooltip="Click me to see words played and their definitions">
    <div>
        <span>player:</span><span id="playerScore">0</span>
    </div>
    <div>
        <span>pc:</span><span id="pcScore">0</span>
    </div>
</button>
<button mat-raised-button color="primary" id="startGame">Rematch</button>
<button (click)="mixTiles()" mat-raised-button color="primary" matTooltip="Click me to shuffle the tiles on your rack">
    <svg data-src="https://s.svgbox.net/materialui.svg?ic=sync" width="25" height="25" fill="currentColor"></svg>
    Mix
</button>
<button mat-raised-button color="primary" id="swapRecall" matTooltip="Click me to trade in for new letters OR return your unplayed tiles from the board">
    <svg data-src="https://s.svgbox.net/materialui.svg?ic=swap_vertical_circle" width="25" height="25" fill="currentColor"></svg>
    Swap
</button>
<button mat-raised-button id="settingsBtn" matTooltip="Click me to check and change game settings">
    <svg data-src="https://s.svgbox.net/materialui.svg?ic=settings" width="32" height="32" fill="currentColor"></svg>
    Settings
</button>

<div id="zoomBtns">
    <button mat-raised-button id="zoomOut" matTooltip="Click me to zoom out and see the whole board">
        <svg data-src="https://s.svgbox.net/hero-outline.svg?ic=zoom-out" width="25" height="25" stroke="currentColor"></svg>
    </button>
    <button mat-raised-button id="zoomIn" matTooltip="Click me to zoom in to the center of the board">
        <svg data-src="https://s.svgbox.net/hero-outline.svg?ic=zoom-in" width="25" height="25" stroke="currentColor"></svg>
    </button>
</div>

<button mat-raised-button color="primary" id="passPlay" matTooltip="Click me to play a word OR pass your turn">Pass</button>