#board {
  width: 100vmin;
  height: 100vmin;
  max-height: 75vh;
  max-width: 75vh;
  background: black;
  // min-width: 42.9vh;
  // min-height: 42.9vh;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  justify-content: center;
  margin: 0 auto;
}

#board.default {
}

#board.zoomedIn {
  width: 95vmax;
  height: 95vmax;
  max-height: 754.4px;
  max-width: 754.4px;
}
