#board {
  width: 100vmin;
  height: 100vmin;
  max-height: 75vh;
  max-width: 75vh;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  justify-content: center;
  margin: 0 auto;
}
