.container {
  height: 400px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #000000;
}

table {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.player {
  color: #1e7e34;
  text-shadow: #c82333 0px 0px 1px;
}

.opponent {
  color: #c82333;
  text-shadow: #1e7e34 0px 0px 1px;
}

.mat-footer-cell {
  border: none;
}

.cdk-column-player {
  text-align: center;
}

.cdk-column-opponent {
  text-align: center;
}
