.container {
  height: 400px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #000000;
}

table {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.player {
  color: #1e7e34;
  text-shadow: #c82333 0px 0px 1px;
}

.opponent {
  color: #c82333;
  text-shadow: #1e7e34 0px 0px 1px;
}

.mat-footer-cell {
  border: none;
}

.cdk-column-player {
  text-align: center;
}

.cdk-column-opponent {
  text-align: center;
}

//

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}
