.container {
  height: 396px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #000000;
}

table {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.player {
  color: #1e7e34;
  text-shadow: #c82333 0px 0px 1px;
}

.opponent {
  color: #c82333;
  text-shadow: #1e7e34 0px 0px 1px;
}

.mat-footer-cell {
  border: none;
}

/* :host ::ng-deep */
.mat-column-move {
  padding: 0 0 0 10px !important;

  // TODO: reduce column width to fit smaller screens
}

.cdk-column-player {
  text-align: center;
}

.cdk-column-opponent {
  text-align: center;
}

/* 
* collapsed/expanded row
*/

.mat-column-expandedDetail {
  padding: 0 !important;
}

tr.detail-row {
  height: 0;
}

tr.element-row.expandable:not(.expanded-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

tr.element-row.expandable:not(.expanded-row):active {
  background: rgb(222 222 222) !important;
}

tr.element-row {
  box-shadow: 0px 0px 4px 0px;
}

tr.expanded-row.expandable {
  background: rgb(222 222 222) !important;
  cursor: pointer;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  font-weight: lighter;
  margin: 3px 0;
  height: 150px;
}

/* 
mat-tab-group
 */

:host ::ng-deep mat-tab-group {
  width: 100%;
  display: flex;
  border-radius: 10px;
}

:host ::ng-deep mat-tab-header {
  margin: 0;
}

:host ::ng-deep .mat-tab-label {
  min-width: 50px;
  width: 100%;
  height: 34px;
  box-shadow: inset 0px 0px 8px 0px white;
}

:host ::ng-deep .mat-tab-label-content {
  margin: auto;
}

:host ::ng-deep .mat-tab-body-wrapper {
  margin: 0 5px;
}
