<div class="container mat-elevation-z8">
    <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
    >

        <!-- Moves Column -->
        <ng-container matColumnDef="move">
            <th
                [ngStyle]="{'color': 'black'}"
                mat-header-cell
                *matHeaderCellDef
            > Moves </th>
            <td
                #td
                mat-cell
                *matCellDef="let element"
                [class]="element.isAI ? 'opponent' : 'player'"
            >
                {{element.word}}
                <span [ngClass]="{'bold': element.points}">
                    {{element.points ? '[+' + element.points + ']': element.skip.isSwap ? "Swap"
                    :
                    "Pass"}}
                </span>
            </td>
            <td
                [class]="lastEntry?.isAI ? 'opponent' : 'player'"
                mat-footer-cell
                *matFooterCellDef
            >
                {{lastEntry?.word}}
                <span [ngClass]="{'bold': lastEntry?.points}">
                    {{lastEntry?.points ? '[+' + lastEntry?.points + ']': lastEntry?.skip.isSwap ? "Swap"
                    : firstTurn && !gameOver ? 'Start of Game' : gameOver ? '' : "Pass"}}
                </span>
            </td>
        </ng-container>

        <!-- Opponent Column -->
        <ng-container matColumnDef="opponent">
            <th
                class="opponent"
                mat-header-cell
                *matHeaderCellDef
            > Opponent </th>
            <td
                class="opponent"
                mat-cell
                *matCellDef="let element"
                [ngClass]="{'bold': element.points && element.isAI}"
            > {{element.score.computerScore}} </td>
            <td
                class="opponent bold"
                mat-footer-cell
                *matFooterCellDef
            > {{lastEntry?.score.computerScore || 0}} </td>
        </ng-container>

        <!-- Player Column -->
        <ng-container matColumnDef="player">
            <th
                class="player"
                mat-header-cell
                *matHeaderCellDef
            > Player </th>
            <td
                class="player"
                mat-cell
                *matCellDef="let element"
                [ngClass]="{'bold': element.points && !element.isAI}"
            > {{element.score.playerScore}} </td>
            <td
                class="player bold"
                mat-footer-cell
                *matFooterCellDef
            > {{lastEntry?.score.playerScore || 0}} </td>
        </ng-container>


        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td
                mat-cell
                *matCellDef="let element"
                [attr.colspan]="displayedColumns.length"
            >
                <div
                    class="element-detail"
                    [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'"
                    (click)="log(expandedElement, element)"
                >
                    <div class="element-diagram">
                        <div class="element-position"> {{element | json}} </div>
                        <!-- <div class="element-symbol"> {{expandedElement}} </div>
                        <div class="element-name"> {{expandedElement}} </div>
                        <div class="element-weight"> {{expandedElement}} </div> -->
                    </div>
                    <div class="element-description">
                        <!-- {{expandedElement}} -->
                        <!-- <span class="element-description-attribution"> -- Wikipedia </span> -->
                    </div>
                </div>
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
            mat-row
            *matRowDef="let element; columns: displayedColumns;"
            [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element"
            (click)="log(expandedElement, element)"
        ></tr>
        <tr
            mat-footer-row
            *matFooterRowDef="[displayedColumns, 'expandedDetail']; sticky: true"
            [class.expanded-row]="expandedElement === lastEntry"
            (click)="expandedElement = expandedElement === lastEntry ? null : lastEntry"
            (click)="log(expandedElement, lastEntry)"
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="detail-row"
        ></tr>
    </table>
</div>