.square {
  background-color: honeydew;
  box-shadow: inset 0 0 4px 0px;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  line-height: 0; //? not best solution
}

.tw {
  background: #d53b5d;
}

.dw {
  background: #dc98af;
}

.tl {
  background: #0655c3;
}

.dl {
  background: #97bfcd;
}
