#rackImg {
  background-image: url(../../../assets/images/Untitled-1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 95%;
  margin: 0 auto;
  width: 100vmin;
  max-width: 75vh;
  min-height: 65px;

  display: grid;
  grid-template-rows: 76.94%;
}

#rack {
  //   height: 45px;
  margin: 0 auto;
  width: 98%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 50px));
  justify-content: space-evenly;
}

.cdk-drop-list-dragging {
  .tile:not(.cdk-drag-placeholder) {
    transition: transform 1000ms cubic-bezier(0, 0, 0.2, 1);
  }
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  .tile {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.cdk-drop-list-receiving {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  .tile {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.tile {
  position: relative;
  border: 1px solid black;
  font-size: 3vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  background: wheat;
  box-shadow: inset 0px 0px 14px 0px;
  border-radius: 3px;
}

.tile:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.cdk-drag-preview {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 350ms cubic-bezier(0, 0, 0.2, 1);
}
